.app-title-container {
  text-align: center;
}

.race-clock-container {
  text-align: center;
}

.race-title-container {
  text-align: center;
}

.results-table-container {
  text-align: center;
}

.start-button-container {
  text-align: center;
}

.stick-button-container {
  text-align: center;
}

.top-container {
  //   position: fixed;
  //   background-color: hotpink;
}
